
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
body {
    font-family: 'Oxygen', sans-serif;;
}
li > a {
    text-decoration: None;
    color: black;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background: url("./images/dunkerque_header.png") no-repeat center;
    background-size: cover;
    padding: 1em;
}
header:first-child {
    padding-left: 4vw;
}
header > * {
    display: inline-block;
}
.titre_site {
    color: white;
    font-size: xx-large;
    margin-left: 5vw;
    text-shadow: #2f2f2f 0.2em 0.2em 0.3em;
    text-decoration: none;
}
.logo_entete, footer > img {
    width: 7vw;
    height: auto;
    filter: drop-shadow(0 0 0.5em white);
    border-radius: 4vw;
    margin: 1vh 2vw;
    transition: 0.2s;
}
.logo_entete:hover {
    transform: scale(1.2);
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1em;
    transition : ease-in-out 0.3s;
}
li:hover {
    transform: scale(1.2);
}
nav, footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
    background-color: #0096c7;
}
div.bateau_legende_img>div{
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  border: thin red solid;

}

.bateau_legende_img{
  position: relative;
  border: thin blue solid;
  width: 95%;
  padding: 0;
}

div>div>p {
  text-align: center;
  font-size: 140%;
}

nav {
    border-bottom: thick solid #1a759f;
    justify-content: space-between;
}
nav > ul, footer > ul {
    margin: 0 2em;
}
nav a, footer a {
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
nav a:hover, footer a:hover {
    color:white;
}
.submit_form {
    width: 1.5vw;
    height: auto;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 3em;
}
input[type=search] {
    padding: 0.3em;
}
footer {
    border-top: thick solid #1a759f;
    justify-content: start;
}
footer {
    vertical-align: middle;
}
footer li {
    padding-top: 10%;
}
