div.bateau_legende_img>div{
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  border: thin red solid;

}

.bateau_legende_img{
  position: relative;
  border: thin blue solid;
  width: 95%;
  padding: 0;
}

div>div>p {
  text-align: center;
  font-size: 140%;
}
