<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sauveteurs_dunkerquois.png') }}">
    <!-- TODO OPTIMISE -->
</head>

<body>
<header>
    <div>
        <img class="logo_entete" alt="logo_corsaires_dunkerquois" src="{{ url_for('static', filename='images/corsaires_dunkerquois.jpg') }}">
        <img class="logo_entete" alt="logo_sauveteurs_dunkerquois" src="{{ url_for('static', filename='images/sauveteurs_dunkerquois.png') }}">
    </div>
    <div class="titre_site">
        <h1>Sauveteurs du Dunkerquois</h1>
        <h3>270 ans d'histoire</h3>
    </div>
</header>
<nav>
    <ul>
        <li><a href="/">Bateaux</a></li>
        <li><a href="/">Sauvés</a></li>
        <li><a href="/">Sauveteurs</a></li>
    </ul>
    <ul>
        <form method="POST" action="/">
            <input type="search" placeholder="Rechercher un bateau, sauveteur ou rescapé"/>
            <input class="submit_form" type="image" src="../static/images/loupe.png" alt="Submit Form" />
        </form>
    </ul>
</nav>
<main>
    <h1>{{ title }}</h1>

    {% block content %}{% endblock %}
</main>
</body>
<footer>
    <img src="../static/images/logo_snsm.svg.png"/>
    <ul>
        <li><a href="/">Qui sommes-nous ?</a></li>
        <li><a href="https://www.facebook.com/groups/938396409644949">Facebook</a></li>
        <li><a href="https://twitter.com/@boutelierphili1">Twitter</a></li>
    </ul>
</footer>
</html>