<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
<header>
    <img class="logo_entete" alt="logo_corsaires_dunkerquois" src="{{ url_for('static', filename='images/corsaires_dunkerquois.jpg') }}">
    <img class="logo_entete" alt="logo_sauveteurs_dunkerquois" src="{{ url_for('static', filename='images/sauveteurs_dunkerquois.png') }}">
</header>
<nav>
    <ul>
        <li><a href="/">Bateaux</a></li>
        <li><a href="/">Sauvés</a></li>
        <li><a href="/">Sauveteurs</a></li>
    </ul>
    <ul>
        <form method="POST" action="/">
            <input type="search" />
        </form>
    </ul>
</nav>
<main>
    <h1>{{ title }}</h1>

    {% block content %}{% endblock %}
</main>
</body>

</html>